{{template "base" .}}

{{define "content"}}
    <div id="main-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators">
            <li data-bs-target="#main-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#main-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#main-carousel" data-bs-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://fakeimg.pl/1920x1080/000000/?text=Placeholder Image 1" class="d-block w-100" alt="Placeholder image">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://fakeimg.pl/1920x1080/000000/?text=Placeholder Image 2" class="d-block w-100" alt="Placeholder image">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://fakeimg.pl/1920x1080/000000/?text=Placeholder Image 3" class="d-block w-100" alt="Placeholder image">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Dis parturient montes nascetur ridiculus mus mauris vitae</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>


        <div class="row">

            <div class="col text-center">

                <a href="/search-availability" class="btn btn-success">Make Reservation Now</a>

            </div>
        </div>


    </div>
{{end}}